
/* Base */

body {
    margin: 0;
    padding: 0;
    background-color: #d3c2ff;
}



/* Topo */

header {
    color: #ffffff;
    background-color: #24213d;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 2em;
    margin: 0;
}


/* Links do header */

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

.links a:hover {
    opacity: 0.7;
}


/* Barra de Busca */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* controla posição vertical */
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* INPUT  */
input {
    padding: 8px 50px 8px 12px; /* espaço interno (direita maior por causa da lupa) */
    width: 800px;
    margin: 0;
    border-radius: 20px;
    border: 1px solid #24213d;
    font-size: 1em;
    position: relative;
}

/* Botão da lupa */
button {
    position: absolute;
    right: 12px; /* posiciona dentro do input */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

button img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

button:hover {
    opacity: 0.7;
}


/* Carrosel Principal */

#carrossel {
    margin: 20px auto;
    max-width: 1550px;
}

/* título da busca */
#carrossel-busca h2 {
    color: black;
}

.carrossel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carrossel-inner {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px;
}

.carrossel-inner div {
    flex: 0 0 200px;
    text-align: center;
}


/* Botões do carrossel */

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
    font-size: 2em;
}

.next {
    right: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
}


/* Grid de Resultados */

.grid-resultados {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
}


/* Cards */

.grid-resultados .card {
    text-align: center;
    border: 1px solid #24213d;
    padding: 10px;
    border-radius: 8px;
    background-color: #d3c2ff;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}

.grid-carrossel .card {
    text-align: center;
    border: 1px solid #24213d;
    padding: 10px;
    border-radius: 8px;
    background-color: #d3c2ff;
}


/* Titulos*/

h2 {
    color: #ffffff;
    margin-top: 40px;
}


/* Fundos (seções)*/

.fundo_carrossel {
    background-color: #24213d;
    padding: 20px;
    min-height: 40vh;
}

.fundo_resultados {
    background-color: #d3c2ff;
    padding: 20px;
    min-height: 40vh;
}

.fundo_horror {
    background-color: #24213d;
    padding: 10px;
    min-height: 40vh;
}
